
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DARIA APP</title>
</head>
<body>
    <div id="main-page-holder">
        
    </div>
</body>
</html>
